<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>PeerReview</title>

    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="../../static/fontawesome-free/css/all.min.css"
          th:href="@{/../fontawesome-free/css/all.min.css}">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css"
          th:href="@{/../code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css}">
    <!-- Tempusdominus Bootstrap 4 -->
    <link rel="stylesheet" href="../../static/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css"
          th:href="@{/../tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css}">
    <!-- iCheck  Remove Later-->
    <link rel="stylesheet" href="../../static/icheck-bootstrap/icheck-bootstrap.min.css"
          th:href="@{/../icheck-bootstrap/icheck-bootstrap.min.css}">
    <!-- JQVMap -->
    <link rel="stylesheet" href="../../static/jqvmap/jqvmap.min.css" th:href="@{/../jqvmap/jqvmap.min.css}">
    <!-- Theme style -->
    <link rel="stylesheet" href="../../static/css/adminlte.min.css" th:href="@{/../css/adminlte.min.css}">
    <!-- overlayScrollbars -->
    <link rel="stylesheet" href="../../static/overlayScrollbars/css/OverlayScrollbars.min.css"
          th:href="@{/../overlayScrollbars/css/OverlayScrollbars.min.css}">
    <!-- Daterange picker -->
    <link rel="stylesheet" href="../../static/daterangepicker/daterangepicker.css"
          th:href="@{/../daterangepicker/daterangepicker.css}">
    <!-- summernote -->
    <link rel="stylesheet" href="../../static/summernote/summernote-bs4.min.css"
          th:href="@{/../summernote/summernote-bs4.min.css}">
</head>
<body class="hold-transition sidebar-mini layout-fixed">

<!--Navbar start-->
<nav th:fragment="navbar-fragment" class="main-header navbar navbar-expand navbar-white navbar-light">
    <!-- Left navbar links -->
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="../index.html" class="nav-link">Home</a>
        </li>
    </ul>

    <!-- Right navbar links -->
    <ul class="navbar-nav ml-auto">
        <!-- Navbar Search -->
<!--        <li class="nav-item">-->
<!--            <a class="nav-link" data-widget="navbar-search" href="#" role="button">-->
<!--                <i class="fas fa-search"></i>-->
<!--            </a>-->
<!--            <div class="navbar-search-block">-->
<!--                <form class="form-inline">-->
<!--                    <div class="input-group input-group-sm">-->
<!--                        <input class="form-control form-control-navbar" type="search" placeholder="Search"-->
<!--                               aria-label="Search">-->
<!--                        <div class="input-group-append">-->
<!--                            <button class="btn btn-navbar" type="submit">-->
<!--                                <i class="fas fa-search"></i>-->
<!--                            </button>-->
<!--                            <button class="btn btn-navbar" type="button" data-widget="navbar-search">-->
<!--                                <i class="fas fa-times"></i>-->
<!--                            </button>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </form>-->
<!--            </div>-->
<!--        </li>-->
        <!-- Navbar Search End -->

        <!-- Notifications Dropdown Menu -->
<!--        <li class="nav-item dropdown">-->
<!--            <a class="nav-link" data-toggle="dropdown" href="#">-->
<!--                <i class="far fa-bell"></i>-->
<!--                <span class="badge badge-danger navbar-badge">15</span>-->
<!--            </a>-->
<!--            <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">-->
<!--                <span class="dropdown-item dropdown-header">15 Notifications</span>-->
<!--                <div class="dropdown-divider"></div>-->
<!--                <a href="#" class="dropdown-item">-->
<!--                    <i class="fas fa-users mr-2"></i> 8 team requests-->
<!--                    <span class="float-right text-muted text-sm">12 hours</span>-->
<!--                </a>-->
<!--                <div class="dropdown-divider"></div>-->
<!--                <a href="#" class="dropdown-item">-->
<!--                    <i class="fas fa-file mr-2"></i> 3 work items for review-->
<!--                    <span class="float-right text-muted text-sm">2 days</span>-->
<!--                </a>-->
<!--                <div class="dropdown-divider"></div>-->
<!--                <a href="#" class="dropdown-item dropdown-footer">See All Notifications</a>-->
<!--            </div>-->
<!--        </li>-->
<!--        <li class="nav-item">-->
<!--            <a class="nav-link" data-widget="fullscreen" href="#" role="button">-->
<!--                <i class="fas fa-expand-arrows-alt"></i>-->
<!--            </a>-->
<!--        </li>-->
<!--        <li class="nav-item">-->
<!--            <a class="nav-link" data-widget="control-sidebar" data-slide="true" href="#" role="button">-->
<!--                <i class="fas fa-th-large"></i>-->
<!--            </a>-->
<!--        </li>-->

        <!--      User nav bar start-->
        <!-- Nav Item - User Information -->
        <li class="nav-item dropdown">
            <div class="image">
                <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" style="padding-top: 3px"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <img th:src="@{/img/profilePictures/{imgName}(imgName=${user.getPhoto()})}"
                         class="img-circle elevation-2" alt="User Image" height="35" width="35">
                </a>
                <!-- Dropdown - User Information -->
                <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                     aria-labelledby="userDropdown">
                    <a class="dropdown-item" href="#" th:href="@{/users/profile}">
                        <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                        Profile
                    </a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#" th:href="@{/login/logout}">
                        <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                        Logout
                    </a>
                </div>
            </div>
        </li>
        <!--      User nav bar end-->
    </ul>
</nav>
<!--Navbar end-->

<!--Sidebar start-->
<aside th:fragment="sidebar-fragment" class="main-sidebar sidebar-dark-primary elevation-4">
    <aside class="main-sidebar sidebar-dark-primary elevation-4">
        <!-- Brand Logo -->
        <a href="#" th:href="@{/}" class="brand-link">
            <img src="../../static/img/AdminLTELogo.png" th:src="@{/../img/AdminLTELogo.png}" alt="AdminLTE Logo"
                 class="brand-image img-circle elevation-3" style="opacity: .8">
            <span class="brand-text font-weight-light">Peer Review</span>
        </a>

        <!-- Sidebar -->
        <div class="sidebar">
            <!-- Sidebar user panel (optional) -->
            <!--            <div class="user-panel mt-3 pb-3 mb-3 d-flex">-->
            <!--                <div class="image">-->
            <!--                    <img src="../../static/img/user2-160x160.jpg" th:src="@{/../img/user2-160x160.jpg}"-->
            <!--                         class="img-circle elevation-2" alt="User Image">-->
            <!--                </div>-->
            <!--                <div class="info">-->
            <!--                    <a href="#" class="d-block">Alexander Pierce</a>-->
            <!--                </div>-->
            <!--            </div>-->

            <!-- SidebarSearch Form -->
            <div class="form-inline">
<!--                <div class="input-group" data-widget="sidebar-search">-->
<!--                    <input class="form-control form-control-sidebar" type="search" placeholder="Search"-->
<!--                           aria-label="Search">-->
<!--                    <div class="input-group-append">-->
<!--                        <button class="btn btn-sidebar">-->
<!--                            <i class="fas fa-search fa-fw"></i>-->
<!--                        </button>-->
<!--                    </div>-->
<!--                </div>-->
            </div>

            <!-- Sidebar Menu -->
            <nav class="mt-2">
                <ul class="nav nav-pills nav-sidebar nav-child-indent active flex-column" data-widget="treeview" role="menu"
                    data-accordion="false">
                    <!-- Add icons to the links using the .nav-icon class
                         with font-awesome or any other icon font library -->
                    <li class="nav-item menu-open">
                        <a th:href="@{/}" class="nav-link active">
                            <i class="nav-icon fas fa-list-alt"></i>
                            <p>
                                My Work Items
                            </p>
                        </a>
                        <!--Teams sidebar start-->
                    </li>
<!--                    <li class="nav-header">MULTI LEVEL EXAMPLE</li>-->
                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            <i class="nav-icon fas fa-users"></i>
                            <p>
                                Teams
                                <span class="badge badge-info left">6</span>
                                <i class="right fas fa-angle-left"></i>
                            </p>
                        </a>
                        <ul class="nav nav-treeview" th:each="team:${teams}">
                            <li class="nav-item">
                                <a href="#" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p th:text="${team.getName}">
                                        Test_team1
                                        <i class="right fas fa-angle-left"></i>
                                    </p>
                                </a>
                                <ul class="nav nav-treeview">
                                    <li class="nav-item">
                                        <a href="#" th:href="@{/teams/{id}/workitems(id=${team.getId()})}" class="nav-link">
                                            <i class="far fa-list-alt nav-icon"></i>
                                            <p>Work Items</p>
                                            <span class="badge badge-info left">6</span>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="#" th:href="@{/teams/{id}/members(id=${team.getId()})}"  class="nav-link">
                                            <i class="far fa-id-card nav-icon"></i>
                                            <p>Members</p>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <!--Teams sidebar end-->
                </ul>
            </nav>
            <!-- /.sidebar-menu -->
        </div>
        <!-- /.sidebar -->
    </aside>
</aside>
<!--Sidebar end-->
<div layout:fragment="content"></div>

<!--Footer start-->
<footer th:fragment="footer-fragment" class="main-footer">
    <strong>Copyright &copy; 2021 <a href="https://www.telerikacademy.com/">Telerik Academy</a>.</strong>
    All rights reserved.
    <div class="float-right d-none d-sm-inline-block">
        <b>Version</b> 1.0
    </div>
</footer>
<!--Footer end-->

<!-- Control Sidebar -->
<aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
</aside>


<script src="../../static/jquery/jquery.min.js" th:src="@{/../jquery/jquery.min.js}"></script>
<!-- jQuery UI 1.11.4 -->
<script src="../../static/jquery-ui/jquery-ui.min.js" th:src="@{/../jquery-ui/jquery-ui.min.js}"></script>
<!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
<script>
    $.widget.bridge('uibutton', $.ui.button)
</script>
<!-- Bootstrap 4 -->
<script src="../../static/bootstrap/js/bootstrap.bundle.min.js"
        th:src="@{/../bootstrap/js/bootstrap.bundle.min.js}"></script>
<!-- ChartJS -->
<script src="../../static/chart.js/Chart.min.js" th:src="@{/../chart.js/Chart.min.js}"></script>
<!-- Sparkline -->
<script src="../../static/sparklines/sparkline.js" th:src="@{/../sparklines/sparkline.js}"></script>
<!-- JQVMap -->
<script src="../../static/jqvmap/jquery.vmap.min.js" th:src="@{/../jqvmap/jquery.vmap.min.js}"></script>
<script src="../../static/jqvmap/maps/jquery.vmap.usa.js" th:src="@{/../jqvmap/maps/jquery.vmap.usa.js}"></script>
<!-- jQuery Knob Chart -->
<script src="../../static/jquery-knob/jquery.knob.min.js" th:src="@{/../jquery-knob/jquery.knob.min.js}"></script>
<!-- daterangepicker -->
<script src="../../static/moment/moment.min.js" th:src="@{/../moment/moment.min.js}"></script>
<script src="../../static/daterangepicker/daterangepicker.js"
        th:src="@{/../daterangepicker/daterangepicker.js}"></script>
<!-- Tempusdominus Bootstrap 4 -->
<script src="../../static/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"
        th:src="@{/../tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js}"></script>
<!-- Summernote -->
<script src="../../static/summernote/summernote-bs4.min.js" th:src="@{/../summernote/summernote-bs4.min.js}"></script>
<!-- overlayScrollbars -->
<script src="../../static/overlayScrollbars/js/jquery.overlayScrollbars.min.js"
        th:src="@{/../overlayScrollbars/js/jquery.overlayScrollbars.min.js}"></script>
<!-- AdminLTE App -->
<script src="../../static/js/adminlte.js" th:src="@{/../js/adminlte.js}"></script>
<!-- AdminLTE for demo purposes -->
<script src="../../static/js/demo.js" th:src="@{/../js/demo.js}"></script>
<!-- AdminLTE dashboard demo (This is only for demo purposes) -->
<!--<script src="dist/js/pages/dashboard.js"></script>-->
</body>
</html>