<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="fragments/layout">
<head>
    <title>PeerReview | User Profile</title>
</head>
<body class="hold-transition sidebar-mini">
<div layout:fragment="content">
    <div class="wrapper">

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1>Profile</h1>
                        </div>
                        <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-right">
                                <li class="breadcrumb-item"><a href="#">Home</a></li>
                                <li class="breadcrumb-item active">User Profile</li>
                            </ol>
                        </div>
                    </div>
                </div><!-- /.container-fluid -->
            </section>

            <!-- Main content -->
            <section class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-4">

                            <!-- Profile Image -->
                            <div class="card card-primary card-outline">
                                <div class="card-body box-profile">
                                    <div class="text-center">
                                        <img class="profile-user-img img-fluid img-circle"
                                             src="../static/img/user4-128x128.jpg"
                                             alt="User profile picture" th:src="@{/img/profilePictures/{imgName}(imgName=${user.getPhoto()})}">
                                    </div>

                                    <h3 class="profile-username text-center" th:text="${user.getUsername()}">Nina
                                        Mcintire</h3>


                                    <!--                                    <ul class="list-group list-group-unbordered mb-3">-->
                                    <!--                                        <li class="list-group-item">-->
                                    <!--                                            <b>Followers</b> <a class="float-right">1,322</a>-->
                                    <!--                                        </li>-->
                                    <!--                                        <li class="list-group-item">-->
                                    <!--                                            <b>Following</b> <a class="float-right">543</a>-->
                                    <!--                                        </li>-->
                                    <!--                                        <li class="list-group-item">-->
                                    <!--                                            <b>Friends</b> <a class="float-right">13,287</a>-->
                                    <!--                                        </li>-->
                                    <!--                                    </ul>-->

                                    <!--                                    <a href="#" class="btn btn-primary btn-block"><b>Follow</b></a>-->
                                </div>
                                <!-- /.card-body -->
                            </div>
                            <!-- /.card -->

                            <!-- About Me Box -->
                            <div class="card card-primary">
                                <div class="card-header">
                                    <h3 class="card-title">About Me</h3>
                                </div>
                                <!-- /.card-header -->
                                <div class="card-body">
                                    <strong><i class="fas fa-user-circle mr-1"></i> Username</strong>

                                    <p class="text-muted" th:text="${user.getUsername()}">Username on user</p>

                                    <hr>

                                    <strong><i class="fas fas fa-envelope mr-1"></i> Email</strong>

                                    <p class="text-muted" th:text="${user.getEmail()}">Email on user</p>

                                    <hr>

                                    <strong><i class="fas fa-phone mr-1"></i> Phone</strong>

                                    <p class="text-muted" th:text="${user.getPhoneNumber()}">Phone number on user</p>

                                    <hr>

                                </div>
                                <!-- /.card-body -->
                            </div>
                            <!-- /.card -->
                        </div>
                        <!-- /.col -->
                        <div class="col-md-8">
                            <div class="card">
                                <div class="card-header p-2">
                                    <ul class="nav nav-pills">

                                        <li class="nav-item"><a class="nav-link" href="#" th:href="@{/users/profile}"
                                                                >Settings</a></li>
                                        <li class="nav-item"><a class="nav-link active" href="#password"
                                                                data-toggle="tab">Change password</a></li>
                                        <li class="nav-item"><a class="nav-link" href="#" th:href="@{/users/profile/update/photo}"
                                                                >Change profile picture</a></li>
                                    </ul>
                                </div><!-- /.card-header -->
                                <div class="card-body">
                                    <div class="tab-content">
                                        <!--Password tap start-->
                                        <div class="active tab-pane" id="password">
                                            <form class="form-horizontal" action="#"
                                                  th:action="@{/users/profile/{username}/update/password(username=${user.getUsername()})}"
                                                  th:object="${userPasswordEdit}" method="post">
                                                <div class="form-group row">
                                                    <label for="inputNewPassword" class="col-sm-2 col-form-label">New
                                                        Password</label>
                                                    <div class="col-sm-4">
                                                        <input type="password" class="form-control"
                                                               id="inputNewPassword"
                                                               th:field="*{password}">
                                                    </div>
                                                    <label class="error" th:errors="*{password}">Password error</label>
                                                </div>

                                                <div class="form-group row">
                                                    <label for="inputConfirmNewPassword"
                                                           class="col-sm-2 col-form-label">Confirm New Password</label>
                                                    <div class="col-sm-4">
                                                        <input type="password" class="form-control"
                                                               id="inputConfirmNewPassword"
                                                               th:field="*{passwordConfirm}">
                                                    </div>
                                                    <label class="error" th:errors="*{passwordConfirm}">Password error</label>
                                                </div>
                                                <div class="form-group row">
                                                    <div class="offset-sm-2 col-sm-10">
                                                        <button type="submit" class="btn btn-primary">Save</button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                        <!--Password tap end-->

                                        <!-- /.tab-pane -->
                                    </div>
                                    <!-- /.tab-content -->
                                </div><!-- /.card-body -->
                            </div>
                            <!-- /.card -->
                        </div>
                        <!-- /.col -->
                    </div>
                    <!-- /.row -->
                </div><!-- /.container-fluid -->
            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->

        <!-- Control Sidebar -->
        <aside class="control-sidebar control-sidebar-dark">
            <!-- Control sidebar content goes here -->
        </aside>
        <!-- /.control-sidebar -->
    </div>
    <!-- ./wrapper -->
</div>
<!-- jQuery -->
<script src="../static/jquery/jquery.min.js" th:src="@{/jquery/jquery.min.js}"></script>
<!-- Bootstrap 4 -->
<script src="../static/bootstrap/js/bootstrap.bundle.min.js" th:src="@{/bootstrap/js/bootstrap.bundle.min.js}"></script>
<!-- AdminLTE App -->
<script src="../static/js/adminlte.min.js" th:src="@{/js/adminlte.min.js}"></script>
<!-- AdminLTE for demo purposes -->
<script src="../static/js/demo.js" th:src="@{/js/demo.js}"></script>
</body>
</html>
