<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="fragments/layout">
<head>
    <title>PeerReview | Dashboard</title>
</head>
<body>
<div layout:fragment="content">

    <div class="wrapper">

        <!-- Preloader -->
        <div class="preloader flex-column justify-content-center align-items-center">
            <img class="animation__shake" src="../static/img/AdminLTELogo.png" th:src="@{/img/AdminLTELogo.png}"
                 alt="AdminLTELogo" height="60" width="60">
        </div>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <div class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1 class="m-0">My WorkItems</h1>
                        </div><!-- /.col -->
                        <div class="col-sm-6">
                            <form class="form-search" action="#"
                                  th:action="@{/filter}"
                                  th:object="${filterWorkItemDto}"
                                  method="post">
                                <!--                                    <label >Title</label>-->
                                <!--                                    <br/>-->
                                <!--                                    <input type="text" th:field="*{title}" placeholder="Title">-->
                                <!--                                    <br/>-->
                                <!--                                    <br/>-->

                                <div class="row">

                                    <label style="margin-right: 110px;
                                     margin-left: 3px;
                                      margin-bottom: 0px;">Status</label>


                                    <label style="margin-right: 32px;
                                     margin-bottom: 0px;
                                      margin-left: 6px; ">Reviewer</label>


                                    <label style=" margin-bottom: 0px;
                                     margin-left: 20px;">Sort by</label>

                                </div>
                                <div class=" row">
                                    <select th:field="*{statusId}" style="height: 28px; margin-right: 14px;">
                                        <option selected th:value="-1"></option>
                                        <option th:each="status: ${statuses}"
                                                th:value="${status.getId()}"
                                                th:text="${status.getName()}">
                                        </option>
                                    </select>


                                    <select th:field="*{reviewerId}" style="height: 28px; width: 106px; margin-right: 11px;">
                                        <option selected th:value="-1"></option>
                                        <option th:each="reviewer: ${reviewers}"
                                                th:value="${reviewer.getId()}"
                                                th:text="${reviewer.getUsername}">
                                        </option>
                                    </select>

                                    <select th:field="*{sort}" style="height: 28px;">
                                        <option selected th:value="asc"></option>
                                        <option th:each="sortParam: ${sortParams}"
                                                th:value="${sortParam}"
                                                th:text="${sortParam}">
                                        </option>
                                    </select>

                                    <button type="submit" class="btn btn-block  bg-gradient-primary btn-sm"
                                            style="padding-top: 0;
                                             padding-bottom: 0; width: 98px;
                                              margin-left: 9px;">Apply filter</button>
                                </div>
                            </form>
                            <!--                            <ol class="breadcrumb float-sm-right">-->
                            <!--                                <li class="breadcrumb-item"><a href="#">Home</a></li>-->
                            <!--                                <li class="breadcrumb-item active">My WorkItems</li>-->
                            <!--                            </ol>-->
                        </div><!-- /.col -->
                    </div><!-- /.row -->
                </div><!-- /.container-fluid -->
            </div>
            <!-- /.content-header -->

            <!-- Main content -->
            <section class="content">

                <!-- Default box -->
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">WorkItems</h3>

                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                                <i class="fas fa-minus"></i>
                            </button>
                        </div>
                    </div>
                    <div class="card-body p-0">
                        <table class="table table-striped projects">
                            <thead>
                            <tr>
                                <th style="width: 1%">
                                    #
                                </th>
                                <th style="width: 15%">
                                    Project Name
                                </th>

                                <th style="width: 15%">
                                    Creator
                                </th>
                                <th style="width: 15%">
                                    Reviewer
                                </th>
                                <th style="width: 15%">
                                    Team
                                </th>
                                <th style="width: 10%" class="text-center">
                                    Status
                                </th>
                                <th style="width: 100%">
                                    <a class="btn btn-block  bg-gradient-primary btn-sm"
                                       style="width: 150px; margin-left: 10px; margin-right: 10px; display: inline-grid;"
                                       th:href="@{/workitems/new}">
                                        <span>
                                        <i class="fas fa-plus">
                                        </i>
                                        Create WorkItem
                                        </span>
                                    </a>
                                    <a class="btn btn-block bg-gradient-primary btn-sm"
                                       style="width: 150px; margin-left: 10px; margin-right: 10px; margin-top: 0;display: inline-grid;"
                                       th:href="@{/teams/new}">
                                        <span>
                                        <i class="fas fa-plus">
                                        </i>
                                        Create Team
                                        </span>
                                    </a>
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="workitem : ${workitems}">
                                <td th:text="${workitem.getId()}">
                                    #
                                </td>
                                <td th:text="${workitem.getTitle().toUpperCase()}">
                                    <a>
                                        Name
                                    </a>
                                    <br/>
                                    <small>
                                        Created 01.01.2019
                                    </small>
                                </td>

                                <td style="padding-left: 0">
                                    <img alt="Avatar" class="table-avatar"
                                         th:src="@{/img/profilePictures/{imgName}(imgName=${workitem.getUserCreator().getPhoto()})}"
                                         width="35" height="35">
                                    <span th:text="${workitem.getUserCreator().getUsername().toUpperCase()}"></span>

                                </td>


                                <td style="padding-left: 0">
                                    <img alt="Avatar" class="table-avatar"
                                         th:src="@{/img/profilePictures/{imgName}(imgName=${workitem.getReviewer().getPhoto()})}"
                                         width="35" height="35">
                                    <span th:text="${workitem.getReviewer().getUsername().toUpperCase()}"></span>

                                </td>
                                <td th:text="${workitem.getTeam().getName()}">
                                    Team
                                </td>
                                <!--                                <td class="project_progress">-->
                                <!--                                    <li class="list-inline-item">-->
                                <!--                                        <img alt="Avatar" class="table-avatar" src="../static/img/avatar.png">-->
                                <!--                                    </li>-->
                                <!--                                </td>-->
                                <!--                                <td class="project_progress">-->
                                <!--                                    <li class="list-inline-item">-->
                                <!--                                        <img alt="Avatar" class="table-avatar" src="../static/img/avatar.png">-->
                                <!--                                    </li>-->
                                <!--                                </td>-->
                                <td class="project-state">
                                    <span class="badge badge-success"
                                          th:text="${workitem.getStatus().getName().toUpperCase()}">Success</span>
                                </td>
                                <td class="project-actions text-right">
                                    <a class="btn btn-primary btn-sm" href="#"
                                       th:href="@{/workitems/{id}/view(id=${workitem.getId()})}">

                                        <i class="fas fa-folder">
                                        </i>
                                        View
                                    </a>
                                    <a class="btn btn-info btn-sm" href="#"
                                       th:href="@{/workitems/{id}/update(id=${workitem.getId()})}">
                                        <i class="fas fa-pencil-alt">
                                        </i>
                                        Edit
                                    </a>
                                    <a class="btn btn-danger btn-sm" href="#"
                                       th:href="@{/workitems/{id}/delete(id=${workitem.getId()})}">
                                        <i class="fas fa-trash">
                                        </i>
                                        Delete
                                    </a>


                            </tbody>
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->

            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->

        <!-- Control Sidebar -->
        <aside class="control-sidebar control-sidebar-dark">
            <!-- Control sidebar content goes here -->
        </aside>
        <!-- /.control-sidebar -->
    </div>

</div>

<!-- jQuery -->
<script src="../static/jquery/jquery.min.js" th:src="@{/jquery/jquery.min.js}"></script>
<!-- Bootstrap 4 -->
<script src="../static/bootstrap/js/bootstrap.bundle.min.js" th:src="@{/bootstrap/js/bootstrap.bundle.min.js}"></script>
<!-- AdminLTE App -->
<script src="../static/js/adminlte.min.js" th:src="@{/js/adminlte.min.js}"></script>
<!-- AdminLTE for demo purposes -->
<script src="../static/js/demo.js" th:src="@{/js/demo.js}"></script>
</body>
</html>
