<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Peer Review | Registration</title>

  <!-- Google Font: Source Sans Pro -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="../static/fontawesome-free/css/all.min.css" th:href="@{/fontawesome-free/css/all.min.css}">
  <!-- icheck bootstrap -->
  <link rel="stylesheet" href="../static/icheck-bootstrap/icheck-bootstrap.min.css" th:href="@{/icheck-bootstrap/icheck-bootstrap.min.css}">
  <!-- Theme style -->
  <link rel="stylesheet" href="../static/css/adminlte.min.css" th:href="@{/css/adminlte.min.css}">
</head>
<body class="hold-transition register-page">
<div class="register-box">
  <div class="card card-outline card-primary">
    <div class="card-header text-center">
      <a href="#" class="h1"><b>Peer</b>Review</a>
    </div>
    <div class="card-body">
      <p class="login-box-msg">Register a new membership</p>

      <form action="#" th:action="@{/register}" th:object="${register}" method="post">
        <div class="input-group mb-3">
          <input type="text" class="form-control" placeholder="Username" th:field="*{username}">
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-user"></span>
            </div>
          </div>
          <label class="error" th:errors="*{username}">Username error</label>
        </div>
        <div class="input-group mb-3">
          <input type="email" class="form-control" placeholder="Email" th:field="*{email}">
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-envelope"></span>
            </div>
          </div>
          <label class="error" th:errors="*{email}">Email error</label>
        </div>
        <div class="input-group mb-3">
          <input type="tel" class="form-control" placeholder="Phone number" th:field="*{phoneNumber}">
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-phone"></span>
            </div>
          </div>
          <label class="error" th:errors="*{phoneNumber}">Phone number error</label>
        </div>
        <div class="input-group mb-3">
          <input type="password" class="form-control" placeholder="Password" th:field="*{password}">
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-lock"></span>
            </div>
          </div>
          <label class="error" th:errors="*{password}">Password error</label>
        </div>
        <div class="input-group mb-3">
          <input type="password" class="form-control" placeholder="Retype password" th:field="*{passwordConfirm}">
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-lock"></span>
            </div>
          </div>
          <label class="error" th:errors="*{passwordConfirm}">Password confirm error</label>
        </div>
        <div class="row">
          <div class="col-8">
            <!--            <div class="icheck-primary">-->
            <!--              <input type="checkbox" id="agreeTerms" name="terms" value="agree">-->
            <!--              <label for="agreeTerms">-->
            <!--               I agree to the <a href="#">terms</a>-->
            <!--              </label>-->
            <!--            </div>-->
          </div>
          <!-- /.col -->
          <div class="col-4">
            <button type="submit" class="btn btn-primary btn-block">Register</button>
          </div>
          <!-- /.col -->
        </div>
      </form>

      <a href="#" th:href="@{/login}" class="text-center">I already have a membership</a>
    </div>
    <!-- /.form-box -->
  </div><!-- /.card -->
</div>
<!-- /.register-box -->

<!-- jQuery -->
<script src="../static/jquery/jquery.min.js" th:src="@{/jquery/jquery.min.js}"></script>
<!-- Bootstrap 4 -->
<script src="../static/bootstrap/js/bootstrap.bundle.min.js" th:src="@{/bootstrap/js/bootstrap.bundle.min.js}"></script>
<!-- AdminLTE App -->
<script src="../static/js/adminlte.min.js" th:src="@{/js/adminlte.min.js}"></script>
</body>
</html>
