<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="fragments/layout">
<head>
    <title>PeerReview | Team</title>
</head>
<body class="hold-transition sidebar-mini">
<!-- Site wrapper -->
<div layout:fragment="content">

    <div class="wrapper">

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1>New Team</h1>
                        </div>
                        <div class="col-sm-6">
<!--                            <ol class="breadcrumb float-sm-right">-->
<!--                                <li class="breadcrumb-item"><a href="#">Home</a></li>-->
<!--                                <li class="breadcrumb-item active">New Team</li>-->
<!--                            </ol>-->
                        </div>
                    </div>
                </div><!-- /.container-fluid -->
            </section>

            <!-- Main content -->
            <section class="content">
                <form action="#" th:action="@{/teams/new}" th:object="${createTeamDto}" method="post">
                    <div class="row">
                        <div style="width: 40%; margin-inline: auto;">
                            <div class="card card-primary">
                                <div class="card-header">
                                    <h3 class="card-title">Team</h3>

                                    <div class="card-tools">
                                        <button type="button" class="btn btn-tool" data-card-widget="collapse"
                                                title="Collapse">
                                            <i class="fas fa-minus"></i>
                                        </button>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="form-group">
                                        <label for="inputName">Team name</label>
                                        <input type="text" id="inputName" class="form-control" th:field="*{name}">
                                        <label class="error" th:errors="*{name}">Name error</label>
                                    </div>
                                    <div class="form-group">
                                        <label for="teamMembers">Team members</label>
                                        <select th:field="*{teamMembers}" multiple="multiple" style="height: 252px;"
                                                class="form-control custom-select"
                                                id="teamMembers">
                                            <option th:each="user: ${allUsers}"
                                                    th:value="${user.getId()}"
                                                    th:text="${user.getUsername}">On Hold
                                            </option>
                                        </select>


                                    </div>

                                </div>

                            </div>
                            <!-- /.card-body -->
                        </div>
                        <!-- /.card -->
                    </div>
                    <!--                        <div class="col-md-6">-->
                    <!--                            &lt;!&ndash; /.card &ndash;&gt;-->
                    <!--                            &lt;!&ndash; /.card &ndash;&gt;-->
                    <!--                        </div>-->

                    <div class="row">
                        <div class="col-12" style="max-width: 70%">
                            <!--                            <a href="#" class="btn btn-secondary">Cancel</a>-->
                            <input type="submit" value="Save" class="btn btn-success float-right">
                        </div>
                    </div>
                </form>

            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->

        <!-- Control Sidebar -->
        <aside class="control-sidebar control-sidebar-dark">
            <!-- Control sidebar content goes here -->
        </aside>
        <!-- /.control-sidebar -->
    </div>

</div>
<!-- ./wrapper -->

<!-- jQuery -->
<script src="../static/jquery/jquery.min.js" th:src="@{/jquery/jquery.min.js}"></script>
<!-- Bootstrap 4 -->
<script src="../static/bootstrap/js/bootstrap.bundle.min.js" th:src="@{/bootstrap/js/bootstrap.bundle.min.js}"></script>
<!-- AdminLTE App -->
<script src="../static/js/adminlte.min.js" th:src="@{/js/adminlte.min.js}"></script>
<!-- AdminLTE for demo purposes -->
<script src="../static/js/demo.js" th:src="@{/js/demo.js}"></script>
<script src="../static/js/adminlte.js" th:src="@{/js/adminlte.js}"></script>
</body>
</html>
