<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="fragments/layout">
<head>
    <title>PeerReview | Team members</title>
</head>
<body class="hold-transition sidebar-mini">
<!-- Site wrapper -->
<div layout:fragment="content">


    <div class="wrapper">

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">

                            <h1>Members</h1>

                        </div>

                        <div class="col-sm-6">
                            <!--                            <ol class="breadcrumb float-sm-right">-->
                            <!--                                <li class="breadcrumb-item"><a href="#">Team</a></li>-->
                            <!--                                <li class="breadcrumb-item active">Members</li>-->
                            <!--                            </ol>-->
                            <form
                                  th:action="@{/teams/{id}/members/search(id=${team.getId()})}"
                                  th:object="${searchUserDto}"
                                  method="post">
                                <div class="form-inline col-12" style="padding-left: 60px;">
                                    <div class="input-group col-9" style="width: 80%;">
                                        <input class="form-control" placeholder="Search" th:field="*{search}"
                                               aria-label="Search">
                                        <div class="input-group-append">
                                            <button style="border: transparent; background-color: transparent;"
                                                    type="submit">
                                                <i class="fas fa-search fa-fw"></i>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="col-3">
                                        <a class="btn btn-block bg-gradient-primary btn-sm"
                                           style="width: 150px; margin-left: 10px; margin-right: 10px; margin-top: 0;display: inline-grid;"
                                           th:href="@{/teams/{id}/addMembers(id=${team.getId()})}">
                                        <span>
                                        <i class="fas fa-plus">
                                        </i>
                                        Add Members
                                        </span>
                                        </a>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div><!-- /.container-fluid -->
            </section>

            <!-- Main content -->
            <section class="content">

                <!-- Default box -->
                <div class="card card-solid">
                    <div class="card-body pb-0">
                        <div class="row">

                            <!--Member Card start-->
                            <div class="col-12 col-sm-6 col-md-4 d-flex align-items-stretch flex-column"
                                 th:each="member:${members}">
                                <div class="card bg-light d-flex flex-fill">
                                    <div class="card-header text-muted border-bottom-0">
                                    </div>
                                    <div class="card-body pt-0">
                                        <div class="row">
                                            <div class="col-7">
                                                <!--                                                <h2 class="lead"><span class="fa-li"><i-->
                                                <!--                                                        class="fas fa-lg fa-user"></i></span><b th:text="${member.getUsername}">Nicole Pearson</b></h2>-->
                                                <ul class="ml-4 mb-0 fa-ul text-muted">
                                                    <li class="small"><span class="fa-li"><i
                                                            class="fas fa-lg fa-user"></i></span><h5 class="lead"><b
                                                            th:text="${member.getUsername}">Username</b></h5>
                                                    </li>
                                                    <li class="small"><span class="fa-li"><i
                                                            class="fas fa-lg fa-envelope"></i></span><h5 class="lead"><b
                                                            th:text="${member.getEmail}">Email</b></h5>
                                                    </li>
                                                    <li class="small"><span class="fa-li"><i
                                                            class="fas fa-lg fa-phone"></i></span><h5 class="lead"><b
                                                            th:text="${member.getPhoneNumber}">Phone #: + 800 - 12
                                                        12 23 52</b></h5>
                                                    </li>
                                                    <li class="small">
                                                        <a class="btn btn-danger btn-sm" href="#"
                                                           th:href="@{/teams/{id}/members/{memberId}/delete(id=${team.getId()}, memberId=${member.getId()})}">
                                                        <i class="fas fa-trash">
                                                        </i>
                                                        Remove
                                                    </a>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="col-5 text-center">
                                                <img src="../static/img/user1-128x128.jpg" alt="user-avatar"
                                                     class="img-circle img-fluid" width="128" height="128"
                                                     th:src="@{/img/profilePictures/{imgName}(imgName=${member.getPhoto()})}">
                                            </div>
                                        </div>
                                    </div>
                                    <!--                                    <div class="card-footer">-->
                                    <!--                                        <div class="text-right">-->
                                    <!--                                            <a href="#" class="btn btn-sm bg-teal">-->
                                    <!--                                                <i class="fas fa-comments"></i>-->
                                    <!--                                            </a>-->
                                    <!--                                            <a href="#" class="btn btn-sm btn-primary">-->
                                    <!--                                                <i class="fas fa-user"></i> View Profile-->
                                    <!--                                            </a>-->
                                    <!--                                        </div>-->
                                    <!--                                    </div>-->
                                </div>
                            </div>
                            <!-- Member Card end-->

                        </div>
                    </div>
                    <!-- /.card-body -->
                    <div class="card-footer">
                        <nav aria-label="Contacts Page Navigation">
                            <ul class="pagination justify-content-center m-0">
                                <li class="page-item active"><a class="page-link" href="#">1</a></li>
                            </ul>
                        </nav>
                    </div>
                    <!-- /.card-footer -->
                </div>
                <!-- /.card -->

            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->

        <!-- Control Sidebar -->
        <aside class="control-sidebar control-sidebar-dark">
            <!-- Control sidebar content goes here -->
        </aside>
        <!-- /.control-sidebar -->
    </div>

</div>
<!-- ./wrapper -->

<!-- jQuery -->
<script src="../static/jquery/jquery.min.js" th:src="@{/jquery/jquery.min.js}"></script>
<!-- Bootstrap 4 -->
<script src="../static/bootstrap/js/bootstrap.bundle.min.js" th:src="@{/bootstrap/js/bootstrap.bundle.min.js}"></script>
<!-- AdminLTE App -->
<script src="../static/js/adminlte.min.js" th:src="@{/js/adminlte.min.js}"></script>
<!-- AdminLTE for demo purposes -->
<script src="../static/js/demo.js" th:src="@{/js/demo.js}"></script>
</body>
</html>
