<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="fragments/layout">
<head>
    <title>PeerReview | Dashboard</title>
</head>
<body>
<div layout:fragment="content">

    <div class="wrapper">

        <!-- Preloader -->
        <div class="preloader flex-column justify-content-center align-items-center">
            <img class="animation__shake" src="../static/img/AdminLTELogo.png" th:src="@{/img/AdminLTELogo.png}"
                 alt="AdminLTELogo" height="60" width="60">
        </div>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <div class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1 class="m-0">My WorkItems</h1>
                        </div><!-- /.col -->
                        <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-right">
                                <li class="breadcrumb-item"><a href="#">Home</a></li>
                                <li class="breadcrumb-item active">Dashboard v1</li>
                            </ol>
                        </div><!-- /.col -->
                    </div><!-- /.row -->
                </div><!-- /.container-fluid -->
            </div>
            <!-- /.content-header -->

            <!-- Main content -->
            <section class="content">

                <!-- Default box -->
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Projects Detail</h3>

                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                                <i class="fas fa-minus"></i>
                            </button>
                        </div>
                    </div>
                    <div class="card-body">
                        <form class="row col-12" action="#"
                              th:action="@{/workitems/{id}/view(id=${workItem.getId()})}"
                              th:object="${workItemDto}"
                              method="post">
                            <!--                            <div class="col-12">-->
                            <div class="col-6">
                                <div class="row">
                                    <h3 class="text-primary" th:text="${workItem.getTitle()}">AdminLTE v3</h3>
                                </div>
                                <div class="row">
                                    <p class="text-muted" th:text="${workItem.getDescription()}">Raw denim you probably
                                        haven't heard of them jean shorts
                                        Austin.
                                        Nesciunt tofu stumptown aliqua butcher retro keffiyeh dreamcatcher synth. Cosby
                                        sweater eu banh mi, qui irure terr.</p>
                                </div>


                                <div class="form-group" th:if="${isReviewer}">
                                    <label for="inputStatus">Status</label>
                                    <select id="inputStatus" th:field="*{statusId}"
                                            class="form-control custom-select">
                                        <option th:each="status : ${statuses}"
                                                th:value="${status.getId()}"
                                                th:text="${status.getName()}">

                                        </option>
                                    </select>
                                </div>


                                <div class="form-group">
                                    <label for="inputDescription">Comments</label>
                                    <textarea th:type="text" th:field="*{comments}" id="inputDescription"
                                              class="form-control" rows="4">Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua butcher retro keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terr.</textarea>
                                </div>


                            </div>
                            <div class="col-6" style=" padding-left: 293px; padding-right: 20px; padding-top: 39px">
                                <div class="text-muted">
                                    <p class="text-sm">Team
                                        <b class="d-block" th:text="${workItem.getTeam().getName()}">Deveint Inc</b>
                                    </p>
                                    <p class="text-sm">Creator
                                        <b class="d-block" th:text="${workItem.getUserCreator().getUsername()}"> Tony
                                            Chicken</b>
                                    </p>
                                    <p class="text-sm">Reviewer
                                        <b class="d-block" th:text="${workItem.getReviewer().getUsername()}">Tony
                                            Chicken</b>
                                    </p>
                                </div>

                                <h5 class="mt-5 text-muted">Work Item files</h5>
                                <ul class="list-unstyled" th:each="attachment : ${attachments}">
                                    <li>
                                        <a th:href="@{/workItems/{user}/{workItemName}/{fileName}(user=${workItem.getUserCreator().getUsername()}, workItemName=${workItem.getTitle()},fileName=${attachment.getUrl()})}"
                                           th:text="${attachment.getUrl()}" class="btn-link text-secondary">
                                            <i class="far fa-fw fa-file-word"></i> Functional-requirements.docx</a>
                                    </li>
                                    <!--                                        <li>-->
                                    <!--                                            <a href="" class="btn-link text-secondary"><i-->
                                    <!--                                                    class="far fa-fw fa-file-pdf"></i>-->
                                    <!--                                                UAT.pdf</a>-->
                                    <!--                                        </li>-->
                                    <!--                                        <li>-->
                                    <!--                                            <a href="" class="btn-link text-secondary"><i-->
                                    <!--                                                    class="far fa-fw fa-envelope"></i>-->
                                    <!--                                                Email-from-flatbal.mln</a>-->
                                    <!--                                        </li>-->
                                    <!--                                        <li>-->
                                    <!--                                            <a href="" class="btn-link text-secondary"><i-->
                                    <!--                                                    class="far fa-fw fa-image "></i>-->
                                    <!--                                                Logo.png</a>-->
                                    <!--                                        </li>-->
                                    <!--                                        <li>-->
                                    <!--                                            <a href="" class="btn-link text-secondary"><i-->
                                    <!--                                                    class="far fa-fw fa-file-word"></i> Contract-10_12_2014.docx</a>-->
                                    <!--                                        </li>-->
                                </ul>
                                <!--                                    <div class="text-center mt-5 mb-3">-->
                                <!--                                        <a href="#" class="btn btn-sm btn-primary">Add files</a>-->
                                <!--                                        <a href="#" class="btn btn-sm btn-warning">Report contact</a>-->
                                <!--                                    </div>-->
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <input th:if="${isReviewer}" type="submit" value="Save Changes"
                                           class="btn btn-success float-right">
                                    <input type="submit" value="Add Comment" class="btn btn-success float-right">
                                </div>
                            </div>
                        </form>
                    </div>
                    <!--                    </div>-->
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->

                <!-- Comment box -->
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Comments</h3>

                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                                <i class="fas fa-minus"></i>
                            </button>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="col-12">
                            <div class="col-6">
                                <div class="row" th:each="comment : ${workItem.getComments()}">
                                    <div class="row">
                                        <h3 class="text-primary" th:text="${comment.getCreator().username}">AdminLTE
                                            v3</h3>
                                    </div>
                                    <div class="row">
                                        <p class="text-muted" th:text="${comment.getComment()}">Raw denim you probably
                                            haven't heard of them jean shorts
                                            Austin.
                                            Nesciunt tofu stumptown aliqua butcher retro keffiyeh dreamcatcher synth.
                                            Cosby
                                            sweater eu banh mi, qui irure terr.</p>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->

            </section>


            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->

        <!-- Control Sidebar -->
        <aside class="control-sidebar control-sidebar-dark">
            <!-- Control sidebar content goes here -->
        </aside>
        <!-- /.control-sidebar -->
    </div>

</div>

<!-- jQuery -->
<script src="../static/jquery/jquery.min.js" th:src="@{/jquery/jquery.min.js}"></script>
<!-- Bootstrap 4 -->
<script src="../static/bootstrap/js/bootstrap.bundle.min.js" th:src="@{/bootstrap/js/bootstrap.bundle.min.js}"></script>
<!-- AdminLTE App -->
<script src="../static/js/adminlte.min.js" th:src="@{/js/adminlte.min.js}"></script>
<!-- AdminLTE for demo purposes -->
<script src="../static/js/demo.js" th:src="@{/js/demo.js}"></script>
</body>
</html>
