<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="fragments/layout">
<head>
    <title>PeerReview | Dashboard</title>
</head>
<body class="hold-transition sidebar-mini">
<!-- Site wrapper -->
<div layout:fragment="content">

    <div class="wrapper">

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1>New WorkItem</h1>
                        </div>
                        <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-right">
                                <li class="breadcrumb-item"><a href="#">Home</a></li>
                                <li class="breadcrumb-item active">New WorkItem</li>
                            </ol>
                        </div>
                    </div>
                </div><!-- /.container-fluid -->
            </section>

            <!-- Main content -->
            <section class="content">
                <form action="#" th:action="@{/workitems/new}" th:object="${WorkItem}" method="post"  enctype="multipart/form-data">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="card card-primary">
                                <div class="card-header">
                                    <h3 class="card-title">WorkItem</h3>

                                    <div class="card-tools">
                                        <button type="button" class="btn btn-tool" data-card-widget="collapse"
                                                title="Collapse">
                                            <i class="fas fa-minus"></i>
                                        </button>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="form-group">
                                        <label for="inputName">Title</label>
                                        <input type="text" id="inputName" class="form-control" th:field="*{title}">
                                    </div>
                                    <div class="form-group">
                                        <label for="inputDescription">Description</label>
                                        <textarea id="inputDescription" class="form-control" th:field="*{description}"
                                                  rows="4"></textarea>
                                    </div>


                                    <div class="form-group">
                                        <label for="workItemTeam">Team</label>
                                        <select th:field="*{teamName}" class="form-control custom-select"
                                                id="workItemTeam" required>
                                            <option th:each="team: ${allTeams.keySet()}"
                                                    th:value="${team}"
                                                    th:text="${team}">On Hold
                                            </option>


                                        </select>
                                        <label for="workItemReviewer">Reviewer</label>

                                        <select th:field="*{reviewerUsername}"
                                                class="form-control custom-select" id="workItemReviewer" required>
                                            <!--                                            <option th:each="userReviewer: ${allTeams.get(team)}"-->
                                            <!--                                                    th:value="${userReviewer}"-->
                                            <!--                                                    th:text="${userReviewer.getUsername()}">On Hold-->
                                            <!--                                            </option>-->
                                            <option class="select-option" value="0" disabled></option>
                                        </select>
                                    </div>

                                </div>
                                <!-- /.card-body -->
                            </div>
                            <!-- /.card -->
                        </div>
<!--                        New upload file card-->
                        <div class="card card-info col-md-6">
                            <div class="card-header">
                                <h3 class="card-title">Files</h3>

                                <div class="card-tools">
                                    <button type="button" class="btn btn-tool" data-card-widget="collapse"
                                            title="Collapse">
                                        <i class="fas fa-minus"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="card-body p-0">
                                <table class="table">
                                    <thead>
                                    <tr>
<!--                                        <th>File Name</th>-->
                                    </tr>
                                    </thead>
                                    <tbody>
<!--                                    <tr th:each="attachment : ${attachments}">-->
<!--                                        <td><a th:href="@{/workItems/{user}/{workItemName}/{fileName}(user=${workItem.getUserCreator().getUsername()}, workItemName=${workItem.getTitle()},fileName=${attachment.getUrl()})}"-->
<!--                                               th:text="${attachment.getUrl()}" class="btn-link text-secondary">-->
<!--                                            <i class="far fa-fw fa-file-word"></i> Functional-requirements.docx</a></td>-->
<!--                                    </tr>-->
                                    <tr>
                                        <td>
                                            <div class="active tab-pane" id="workitemFile">
                                                <div class="form-group">
                                                    <label for="exampleInputFile">File input</label>
                                                    <div class="input-group">
                                                        <div class="custom-file">
                                                            <input type="file" class="custom-file-input" name="files"
                                                                   th:name="workItemFile"
                                                                   id="exampleInputFile">
                                                            <label class="custom-file-label" for="exampleInputFile">Choose
                                                                file</label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-12">
                                                        <a href="#" class="btn btn-secondary">Cancel</a>
                                                        <input type="submit" value="Save Changes"
                                                               class="btn btn-success float-right">
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <!-- /.card-body -->
                        </div>
<!--                        End upload file card-->

<!--                        Old upload file card-->
<!--                        <div class="active tab-pane" id="workitemFile">-->
<!--                            <div class="form-group">-->
<!--                                <label for="exampleInputFile">File input</label>-->
<!--                                <div class="input-group">-->
<!--                                    <div class="custom-file">-->
<!--                                        <input type="file" class="custom-file-input" name="files"-->
<!--                                               th:name="workItemFile"-->
<!--                                               id="exampleInputFile">-->
<!--                                        <label class="custom-file-label" for="exampleInputFile">Choose-->
<!--                                            file</label>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->

<!--                            &lt;!&ndash;                        <div class="col-md-6">&ndash;&gt;-->
<!--                            &lt;!&ndash;                            &lt;!&ndash; /.card &ndash;&gt;&ndash;&gt;-->
<!--                            &lt;!&ndash;                            <div class="card card-info">&ndash;&gt;-->
<!--                            &lt;!&ndash;                                <div class="card-header">&ndash;&gt;-->
<!--                            &lt;!&ndash;                                    <h3 class="card-title">Files</h3>&ndash;&gt;-->

<!--                            &lt;!&ndash;                                    <div class="card-tools">&ndash;&gt;-->
<!--                            &lt;!&ndash;                                        <button type="button" class="btn btn-tool" data-card-widget="collapse"&ndash;&gt;-->
<!--                            &lt;!&ndash;                                                title="Collapse">&ndash;&gt;-->
<!--                            &lt;!&ndash;                                            <i class="fas fa-minus"></i>&ndash;&gt;-->
<!--                            &lt;!&ndash;                                        </button>&ndash;&gt;-->
<!--                            &lt;!&ndash;                                    </div>&ndash;&gt;-->
<!--                            &lt;!&ndash;                                </div>&ndash;&gt;-->

<!--                            &lt;!&ndash;                                <div class="card-body p-0">&ndash;&gt;-->
<!--                            &lt;!&ndash;                                    <table class="table">&ndash;&gt;-->
<!--                            &lt;!&ndash;                                        <thead>&ndash;&gt;-->
<!--                            &lt;!&ndash;                                        <tr>&ndash;&gt;-->
<!--                            &lt;!&ndash;&lt;!&ndash;                                            <th>File Name</th>&ndash;&gt;&ndash;&gt;-->
<!--                            &lt;!&ndash;&lt;!&ndash;                                            <th>File Size</th>&ndash;&gt;&ndash;&gt;-->
<!--                            &lt;!&ndash;&lt;!&ndash;                                            <th>    Add file</th>&ndash;&gt;&ndash;&gt;-->
<!--                            &lt;!&ndash;                                            <th></th>&ndash;&gt;-->
<!--                            &lt;!&ndash;                                        </tr>&ndash;&gt;-->
<!--                            &lt;!&ndash;                                        </thead>&ndash;&gt;-->
<!--                            &lt;!&ndash;                                        <tbody>&ndash;&gt;-->

<!--                            &lt;!&ndash;                                        <tr>&ndash;&gt;-->
<!--                            &lt;!&ndash;&lt;!&ndash;                                            <td>Functional-requirements.docx</td>&ndash;&gt;&ndash;&gt;-->
<!--                            &lt;!&ndash;&lt;!&ndash;                                            <td>49.8005 kb</td>&ndash;&gt;&ndash;&gt;-->
<!--                            &lt;!&ndash;                                            <td class="text-right py-0 align-middle">&ndash;&gt;-->
<!--                            &lt;!&ndash;                                                <div class="btn-group btn-group-sm">&ndash;&gt;-->
<!--                            &lt;!&ndash;&lt;!&ndash;                                                    <a href="#" class="btn btn-info"><i class="fas fa-eye"></i></a>&ndash;&gt;&ndash;&gt;-->
<!--                            &lt;!&ndash;                                                    <a href="#" class="btn btn-danger"><i class="fas fa-trash"></i></a>&ndash;&gt;-->
<!--                            &lt;!&ndash;                                                </div>&ndash;&gt;-->
<!--                            &lt;!&ndash;                                            </td>&ndash;&gt;-->
<!--                            &lt;!&ndash;                                        </tbody>&ndash;&gt;-->
<!--                            &lt;!&ndash;                                    </table>&ndash;&gt;-->
<!--                            &lt;!&ndash;                                </div>&ndash;&gt;-->
<!--                            &lt;!&ndash;                                &lt;!&ndash; /.card-body &ndash;&gt;&ndash;&gt;-->
<!--                            &lt;!&ndash;                            </div>&ndash;&gt;-->
<!--                            &lt;!&ndash;                            &lt;!&ndash; /.card &ndash;&gt;&ndash;&gt;-->
<!--                            &lt;!&ndash;                        </div>&ndash;&gt;-->
<!--                            &lt;!&ndash;                    </div>&ndash;&gt;-->
<!--                            <div class="row">-->
<!--                                <div class="col-12">-->
<!--                                    <a href="#" class="btn btn-secondary">Cancel</a>-->
<!--                                    <input type="submit" value="Save Changes" class="btn btn-success float-right">-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        End upload card>-->
                    </div>
                    <!--                            <-->
                </form>
            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->

        <!-- Control Sidebar -->
        <aside class="control-sidebar control-sidebar-dark">
            <!-- Control sidebar content goes here -->
        </aside>
        <!-- /.control-sidebar -->
    </div>

</div>
<!-- ./wrapper -->

<!-- jQuery -->
<script src="../static/jquery/jquery.min.js" th:src="@{/jquery/jquery.min.js}"></script>
<!-- Bootstrap 4 -->
<script src="../static/bootstrap/js/bootstrap.bundle.min.js"
        th:src="@{/bootstrap/js/bootstrap.bundle.min.js}"></script>
<!-- AdminLTE App -->
<script src="../static/js/adminlte.min.js" th:src="@{/js/adminlte.min.js}"></script>
<!-- AdminLTE for demo purposes -->
<script src="../static/js/demo.js" th:src="@{/js/demo.js}"></script>
<script src="../static/js/adminlte.js" th:src="@{/js/adminlte.js}"></script>
</body>
</html>
